body{
    margin:0px;
    padding:0px;
    height:100%;
    /* overflow:hidden; */
     background:rgba(181, 183, 183,0.8)  
    
}
.nav{
    list-style: none;
    /* position: fixed; */
    margin:20px 0px;
    padding: 10px;
    background:rgb(23, 24, 24) ;
    border-radius: 5px;
    overflow: auto;
    opacity: 0.75;
    top:0;
    z-index: 1;
}

.nav li{
    float: left;
   
}
.nav li a{
    display:block;
    text-decoration: none;
    color:white;
    padding: 10px 30px;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}
nav ul li a{
    color:white;
    font-size:17px;
    padding:7px 13px;
    border-radius:3px;
    text-transform:mixed;
}
.nav li a:hover{
    background-color:rgb(103, 108, 108);
    color: black;
}

h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    background: fixed;
    position: relative;
    opacity: 0.89;
}
h4{
    text-align: center;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: fixed;
    position: relative;
    opacity: 0.89;
}

 img{
    width:50%;
   margin-top: 5%;
   margin-left: 25%;
 }

.box{
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left:20% ;
}
.box h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}
.box p{
    margin: 0 ;
    padding: 0;
    font-size: 18px;
   
}

.box2{
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left:20% ;
}
.box2 h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}
.box2 p{
    margin: 0 ;
    padding: 0;
    font-size: 18px;
   
}

.box3{
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left:20% ;
}
.box3 h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}
.box3 p{
    margin: 0 ;
    padding: 0;
    font-size: 18px;
   
}

.box4{
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left:20% ;
}
.box4 h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}
.box4 p{
    margin: 0 ;
    padding: 0;
    font-size: 18px;
   
}

.box5{
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left:20% ;
}
.box5 h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}
.box5 p{
    margin: 0 ;
    padding: 0;
    font-size: 18px;
   
}

.box6{
    position: relative;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    margin-left:20% ;
}
.box6 h3{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    text-transform: uppercase;
    color: black;
}
.box6 p{
    margin: 0 ;
    padding: 0;
    font-size: 18px;
   
}

h3{
    /* background-color: rgba(0,0,0,.35); */
    /* padding-bottom: -20%; */
    text-align: center;
    /* padding-left: 45%; */
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.show{
background: url(../study.jpeg) no-repeat center center/cover;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 950%;
z-index: -1;
opacity: 0.25;
}
html{
    scroll-behavior: smooth;
}